.home {
	display: flex;
	flex-direction: column;
	grid-gap: 100px;
	padding: 226px 18.28125vw 235px;
	.main,
	.about {
		width: 100%;
		border-radius: 16px;
		overflow: hidden;
	}
	.main {
		position: relative;
		&-image {
			width: 100%;
			height: 475px;
			object-position: 0% 64%;
		}
		&-content {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			&__title,
			&__text {
				width: 25.625vw;
				color: var(--clr-white);
			}
			&__text {
				margin: 30px 0 63px;
			}
		}
	}
	.category,
	.popular,
	.review,
	.adventure,
	.interesting {
		&-content {
			margin-top: 40px;
		}
	}
	.category-content,
	.popular-content__body,
	.review-content,
	.interesting-content {
		display: flex;
		gap: 1.5625vw;
	}
	.category-content {
		overflow: scroll;
	}
	.popular-content__header,
	.review-header {
		.icon {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 3.28125vw;
			height: 43px;
			border-radius: 8px;
			cursor: pointer;
		}
	}
	.popular-content__header,
	.review-header,
	.interesting-header {
		display: flex;
		justify-content: space-between;
	}
	.popular-content {
		display: grid;
		grid-gap: 50px;
		&__header {
			align-items: center;
			margin-bottom: 12px;
		}
	}
	.review-header__icons {
		display: flex;
		gap: .41667vw;
		.icon {
			background-color: var(--clr-background2);
			&:first-child {
				transform: rotate(180deg);
			}
		}
	}
	.adventure {
		&-subtitle,
		&-title {
			text-align: center;
		}
		&-subtitle {
			margin-bottom: 12px;
			color: var(--clr-grey4);
		}
		&-content:last-child {
			display: grid;
			grid-gap: 27px 1.40625vw;
			grid-template-columns: repeat(2, 1fr);
		}
	}
	.interesting-header__button {
		display: flex;
		align-items: center;
		gap: .41667vw;
	}
	.about {
		display: flex;
		justify-content: space-between;
		height: 493px;
		background: linear-gradient(266deg, #D6DDF5 -1.62%, #D8CCFA 105.07%);
		padding: 55px 2.8125vw;
		&-content {
			display: grid;
			grid-gap: 35px;
			&__title {
				font-weight: 700;
				margin-bottom: 1px;
			}
			&__text {
				width: 28.69792vw;
				&:last-child {
					width: 23.80208vw;
				}
			}
			border-radius: 16px;
		}
		&-image {
			width: 19.94792vw;
			border-radius: 16px;
		}
	}
}
