.footer {
	display: grid;
	grid-gap: 36.85px;
	width: 63.4375vw;
	padding: 50px 5.52083vw 54px 5.41667vw;
	border-radius: 16px 16px 0px 0px;
	background-color: var(--clr-background3);
	margin: 0 auto;
	&-menu {
		display: flex;
		gap: 2.734375vw;
		&__category {
			display: flex;
			flex-direction: column;
			gap: 8px;
			width: 13.48958vw;
			&-text {
				color: var(--clr-white);
			}
		}
		.socials,
		.website {
			&-text {
				color: var(--clr-white);
			}
		}
		.socials {
			display: grid;
			grid-gap: 16px;
			&-icons {
				display: flex;
				gap: 1.25vw;
				.icon {
					width: 32px;
					height: 32px;
				}
			}
			&-text {
				font-weight: 500;
			}
		}
		.website {
			display: flex;
			align-items: center;
			gap: 1.30208vw;
			margin-top: 80px;
			&-logo {
				width: 36px;
				height: 36px;
			}
		}
	}
}
