@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import './base.css';
@import './styles/layouts/header.scss';
@import './styles/layouts/footer.scss';
@import './styles/pages/home.scss';

input {
	border: none;
	outline: none;
	background-color: transparent;
}

img {
	background-repeat: no-repeat;
	object-fit: cover;
}

ul {
	list-style-type: none;
}

a {
  font-family: Inter;
	text-decoration: none;
}

h1 {
	font-size: 48px;
	font-weight: 600;
	color: var(--clr-grey);
}

h3 {
	font-size: 32px;
	font-weight: 400;
	color: var(--clr-grey);
}

h4 {
	font-size: 24px;
	font-weight: 600;
	color: var(--clr-grey);
}

h5 {
	font-size: 20px;
	font-weight: 700;
	color: var(--clr-grey);
}

h6 {
	font-size: 20px;
	font-weight: 400;
	color:var(--clr-black);
}

p {
	font-size: 16px;
	font-weight: 400;
	color:var(--clr-black);
}

.btn {
	cursor: pointer;
}

.logo {
	width: 252.188px;
	height: 59.264px;
}
